.env
*__pycache__
.cache
cogs/song_play/youtube.py
cogs/song_play/spotify.py
training_validation_loss.png
model/overwatch_img_model.tflite
spark_test.py
cogs/music.py
ffmpeg.exe
ffplay.exe
ffprobe.exe
.gitignore